import requests


s = requests.Session()

{% for request in requests -%}

# Request #{{ loop.index }}

url = '{{ request.url.split('?')[0] }}'
{%- if request.headers %}
headers = {
    {%- for (key, value) in request.headers %}
    '{{ key }}': '{{ value }}',
    {%- endfor %}
}
{%- endif %}
{%- if request.cookies %}
cookies = {
    {%- for (key, value) in request.cookies %}
    '{{ key }}': '{{ value }}',
    {%- endfor %}
}
{%- endif %}
{%- if request.payload %}
payload = '{{ request.payload }}'
{%- endif %}
{%- if request.params %}
params = [
    {%- for (key, value) in request.params %}
    ('{{ key }}', '{{ value }}'),
    {%- endfor %}
]
{%- endif %}
rc = s.{{ request.method }}(url
{%- if request.headers -%}, headers=headers{%- endif -%}
{%- if request.cookies -%}, cookies=cookies{%- endif -%}
{%- if request.params -%}, params=params{%- endif -%}
{%- if request.payload -%}, payload=payload{%- endif -%})

# End of request

{% endfor %}
